{
    "development": {
        "edge_proxy": "https://lifelines-catalog.test.molgenis.org/",
        "molgenis_proxy": "https://lifelines-catalog.test.molgenis.org/",
        "pdf_proxy": "https://lifelines-catalog.test.molgenis.org/"
    }
}