{
    "proxy": {
        "edge": {
            "auth": null,
            "url": "https://lifelines-catalog.test.molgenis.org/"
        },
        "molgenis": {
            "auth": null,
            "url": "https://lifelines-catalog.test.molgenis.org/"
        },
        "pdf": {
            "auth": null,
            "url": "https://lifelines-catalog.test.molgenis.org/"
        }
    }
}